extends layout

block content
	.row
		h1= title
		p Welcome to 
	#board
		.row
			.filler
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
						.number
							p 5
							.odds ....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
						.number
							p 2
							.odds .
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
						.number
							p 6
							.odds .....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wheat
						.number
							p 10
							.odds ...
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.desert
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wheat
						.number
							p 9
							.odds ....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
						.number
							p 3
							.odds ..
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wheat
						.number
							p 8
							.odds .....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.ore
						.number
							p 3
							.odds ..
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.ore
						.number
							p 11
							.odds ..
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.brick
						.number
							p 4
							.odds ...
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wheat
						.number
							p 8
							.odds .....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.brick
						.number
							p 4
							.odds ...
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
						.number
							p 6
							.odds .....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.brick
						.number
							p 5
							.odds ....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
						.number
							p 10
							.odds ...
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.ore
						.number
							p 11
							.odds ..
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
						.number
							p 12
							.odds .
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
						.number
							p 9
							.odds ....
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water