extends layout

block content
	.row
		h1= title
		p Welcome to 
	#board
		.row
			.filler
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
						.number
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2.wood
				.hexagon-in1
					.hexagon-in2.wheat
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.desert
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wheat
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wheat
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.ore
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.ore
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.brick
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wheat
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.brick
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.brick
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.ore
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.sheep
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.wood
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
		.row
			.filler
			.filler
			.filler
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water
			.hexagon.hexagon2
				.hexagon-in1
					.hexagon-in2.water